**/.DS_Store
**/.ipynb_checkpoints
**/__pycache__
vc2test/.ipynb_checkpoints/1Oct2023_vConTACT2_gene_to_genome-checkpoint.csv
vc2test/combined_g.faa
vc2test/1Oct2023_vConTACT2_proteins.faa
vc2test/outdir/modules.ntwk
vc2test/outdir/vConTACT_proteins.csv
vc2test/outdir/combined_g.dmnd
vc2test/outdir/combined_g.self-diamond.tab
vc2test/outdir/combined_g.self-diamond.tab.abc
vc2test/outdir/c1.ntw
vc2test/outdir/combined_g.self-diamond.tab.mci
vc2test/combined_g2g.csv
vc2test/1Oct2023_vConTACT2_gene_to_genome.csv
testinput_tmp/testinput-big/.ipynb_checkpoints/c1-checkpoint.ntw
testinput_tmp/testinput-big/c1.ntw
testinput_tmp/testinput-small/c1.ntw
testinput_tmp/testinput-new/c1.ntw
#assets
busco/busco
testoutput*/
testinput/*
!testinput/*.tar.gz
**/.DS_Store
locals/

vc2test/*
testinput_tmp/*
tmp.ipynb
